#
#   CLOUD
#   2 DEVICES
#

[Single_EstimatedTimeSchedulerCalibratedCloudlet05]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 2
      GenerationRateRequests = 1
      GenerationRateSeconds = 2
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet05
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet06]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 2
      GenerationRateRequests = 1
      GenerationRateSeconds = 5
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet06
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet07]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 2
      GenerationRateRequests = 1
      GenerationRateSeconds = 10
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet07
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet08]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 2
      GenerationRateRequests = 1
      GenerationRateSeconds = 20
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet08
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True


#
#   CLOUD
#   4 DEVICES
#

[Single_EstimatedTimeSchedulerCalibratedCloudlet09]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 4
      GenerationRateRequests = 1
      GenerationRateSeconds = 20
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet09
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet10]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 4
      GenerationRateRequests = 1
      GenerationRateSeconds = 2
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet10
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet11]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 4
      GenerationRateRequests = 1
      GenerationRateSeconds = 5
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet11
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet12]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 4
      GenerationRateRequests = 1
      GenerationRateSeconds = 10
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet12
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

#
#   CLOUD
#   6 DEVICES
#

[Single_EstimatedTimeSchedulerCalibratedCloudlet13]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 6
      GenerationRateRequests = 1
      GenerationRateSeconds = 2
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet13
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet14]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 6
      GenerationRateRequests = 1
      GenerationRateSeconds = 5
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet14
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet15]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 6
      GenerationRateRequests = 1
      GenerationRateSeconds = 10
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet15
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet16]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 6
      GenerationRateRequests = 1
      GenerationRateSeconds = 20
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet16
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True



#[Single_EstimatedTimeSchedulerCalibratedCloudlet17]
#      Strategy = EstimatedTimeScheduler
#      Model = ssd_mobilenet_v1_fpn_coco
#      Devices = 8
#      GenerationRateRequests = 1
#      GenerationRateSeconds = 2
#      Duration = 240
#      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet17
#      Repetitions = 1
#      RepeatSeed = 3
#      Producers = 1
#      Cloudlets = 127.0.0.1
#      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet18]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 8
      GenerationRateRequests = 1
      GenerationRateSeconds = 5
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet18
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet19]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 8
      GenerationRateRequests = 1
      GenerationRateSeconds = 10
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet19
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True

[Single_EstimatedTimeSchedulerCalibratedCloudlet20]
      Strategy = EstimatedTimeScheduler
      Model = ssd_mobilenet_v1_fpn_coco
      Devices = 8
      GenerationRateRequests = 1
      GenerationRateSeconds = 20
      Duration = 240
      Seed = SingleEstimatedTimeSchedulerCalibratedCloudlet20
      Repetitions = 1
      RepeatSeed = 3
      Producers = 1
      Cloudlets = 127.0.0.1
      RebootDevices = True
